@import "./variable";

* {
  box-sizing: border-box;
}
body {
  color: #484848;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  background: {
    color: #fff;
  }
}
.header__title {
  padding: 20px 0;
  color: $brandColor;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background: {
    color: $brandBgColor;
  }
  box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}