.tutorial__hello__title {
  padding: 20px 0;
  color: #00d8ff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #222;
}
.tutorial__tutorialList {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto 0;
  padding: 0 20px;
  & > li {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}
.tutorial__tutorial__contents {
  margin-top: 20px;
}
.tutorial__timer__seconds {
  font-size: 20px;
}